<div class="jumbotron">
 <h1>Contact list </h1>
 <p>
    Gerencie seus contatos de qualquer lugar! 
 </p>
 <p>
    <%= link_to 'crie sua conta', new_user_path, class: 'btn btn-primary btn-lg' %>
 </p>
</div>