<h1>Sobre</h1>
<p>
Estamos na fase preliminar de uma das maiores batalhas da história ... Que estamos em ação em muitos <br>
pontos - na Noruega e na Holanda -, que precisamos estar preparados no Mediterrâneo. Que a batalha <br>
aérea é contínua e que muitos preparativos devem ser feitos aqui em casa.<br>

Eu diria à Câmara, como disse aos que aderiram a este governo:<br>
 "Não tenho nada a oferecer senão sangue, labuta, lágrimas e suor". Temos diante de nós uma provação<br> 
 do tipo mais grave. Temos diante de nós muitos, muitos meses de luta e sofrimento.<br>

Você pergunta, qual é a nossa política? Eu direi: É fazer guerra, por mar, terra e ar, com toda a<br> 
nossa força e com toda a força que Deus pode nos dar; travar guerra contra uma tirania monstruosa, <br>
nunca superada no catálogo sombrio e lamentável do crime humano. Essa é a nossa política. Você <br>
    pergunta, qual é o nosso objetivo? Eu posso responder em uma palavra: vitória. Vitória a todo <br>
    custo - Vitória apesar de todo terror - Vitória, por mais longa e difícil que seja a estrada, <br>
    pois sem vitória não há sobrevivência.<br>
</p>   