<footer>
    <small>
        <%= link_to 'contact list. Todos os direitos reservados.', root_path %>
    </small>
    <nav>
    <ul>
        <li>
        <%= link_to 'sobre','#' %>
        </li>
        <li>
        <%= link_to 'Contato','#'%>
        </li>
    </ul>
    </nav> 
</footer>


